LanguageForum/Web References/AndroidService/AndroidService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xamarin.com/webservices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.xamarin.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.xamarin.com/webservices">
      <s:element name="GetPersonDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="learningLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterNewStudentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterLesson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teacherCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" nillable="true" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" nillable="true" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="students" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="locationDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lessonStart" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="lessonDesctiption" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lessonDuration" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="canceled" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterLessonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterLessonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPersonDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonDetail" />
  </wsdl:message>
  <wsdl:message name="GetPersonDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonDetailResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterNewStudentSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterNewStudent" />
  </wsdl:message>
  <wsdl:message name="RegisterNewStudentSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterNewStudentResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterLessonSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterLesson" />
  </wsdl:message>
  <wsdl:message name="RegisterLessonSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterLessonResponse" />
  </wsdl:message>
  <wsdl:portType name="AndroidServiceSoap">
    <wsdl:operation name="GetPersonDetail">
      <wsdl:input message="tns:GetPersonDetailSoapIn" />
      <wsdl:output message="tns:GetPersonDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStudent">
      <wsdl:input message="tns:RegisterNewStudentSoapIn" />
      <wsdl:output message="tns:RegisterNewStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterLesson">
      <wsdl:input message="tns:RegisterLessonSoapIn" />
      <wsdl:output message="tns:RegisterLessonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AndroidServiceSoap" type="tns:AndroidServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonDetail">
      <soap:operation soapAction="http://www.xamarin.com/webservices/GetPersonDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStudent">
      <soap:operation soapAction="http://www.xamarin.com/webservices/RegisterNewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterLesson">
      <soap:operation soapAction="http://www.xamarin.com/webservices/RegisterLesson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AndroidServiceSoap12" type="tns:AndroidServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonDetail">
      <soap12:operation soapAction="http://www.xamarin.com/webservices/GetPersonDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewStudent">
      <soap12:operation soapAction="http://www.xamarin.com/webservices/RegisterNewStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterLesson">
      <soap12:operation soapAction="http://www.xamarin.com/webservices/RegisterLesson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AndroidService">
    <wsdl:port name="AndroidServiceSoap" binding="tns:AndroidServiceSoap">
      <soap:address location="http://lf.medevid.cloud/AndroidService.asmx" />
    </wsdl:port>
    <wsdl:port name="AndroidServiceSoap12" binding="tns:AndroidServiceSoap12">
      <soap12:address location="http://lf.medevid.cloud/AndroidService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>